/* CSS declarations go here */
body {
	background-color: black;
}

.main-container {
	margin-left: 30px;
}

h1 {
	color: gray;
}

ul.snippet-block {
	list-style: none;
}

.snippet-block {
	word-break: break-all;
}

.snippet-block .fa-1-3x {
	font-size: 1.3em;
}

#snippet-share {
	margin-bottom: 10px;
}

#input-snippets-feedback {
	color: #DFD;
}